.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}
.card-card {
  margin: 20px;
  border-radius: 10%;
  padding: 30px;
  width: 500px;
  background-color: #ffffff;
}
.img-cont {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.title {
  font-size: 20px;
  font-weight: 600;
}
.description {
  font-size: 16px;
}
